
.header-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 10px;
    
    background-color: pink;
}

.title {
    white-space: nowrap;
    margin: auto 10px;
}
.link {
    margin: auto 10px;
    text-align: center;
}
