
.header-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 10px;
    
    color: whitesmoke;
    background-color: rgb(32, 38, 40);
}

.title {
    font-weight: bold;
    font-style: oblique;
}

.link {
    margin: auto 10px;

    text-align: center;
    color: inherit;
    text-decoration: none;
}

.sublink {
    text-decoration: underline;
}
